:root {
  --g: #2a5c45;
  --g2: #3d7a5e;
  --light: #f7f5f0;
}
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  font-family: "inter", sans-serif;
  color: #1a1a1a;
  background-color: white;
}

a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  font-family: "Cormorant Garamond", sans-serif;
  font-weight: 700;
}
.navbar-brand {
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: var(--g);
}
.nav-link {
  font-size: 1rem;
  padding: 1rem 1.1rem !important;
}
.hero-section {
  height: 100vh;
  background-image: url(imgs/banner-1.webp);
  background-size: cover;
  padding: 3rem 0;
}
.hero-left {
  width: 45%;
  padding: 6rem 0;
}
.hero-tag {
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--g);
  border: 1px solid var(--g);
  padding: 10px 10px;
  display: inline-block;
  margin: 0 0 1rem;
}

.hero-section h1 {
  font-size: 4rem;
  font-weight: 700;
}
.hero-section span {
  color: var(--g);
}
.btn-g {
  background: var(--g);
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  border: 2px solid var(--g);
}
.btn-og {
  border: 2px solid var(--g);
  background: transparent;
  color: var(--g);
  padding: 10px 20px;
  border-radius: 10px;
}
.cat-pill {
  text-align: center;
  margin: auto;
  cursor: pointer;
}
.cat-circle {
  width: 180px;
  height: 248px;
  border-radius: 100px;
  overflow: hidden;
  transition: transform 0.3s;
  margin: 0 auto 18px;
}
.cat-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.prod-items {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 20px;

}
.prod-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.name {
  font-size: 1.05rem;
  font-weight: 700;
  margin: 0.5rem 0;
}
.prod-foot{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a{
    color: inherit;
}
.prod-foot i{
    width: 30px;
    height: 30px;
    display: inline-grid;
    place-content: center;
    background: var(--g);
    color: white;
}
.test-sec{

    background: url(imgs/banner-2.webp);
    background-size: cover;
    background-position: center;
    padding: 100px 0;
}
.starts{
    color: goldenrod;
}
.t-img{
    width: 90px;
    height: 98px;
   object-fit: cover;
   border-radius: 100px;
}
.blog-items{
    width: 100%;
    height: 100%;
}
.blog-items img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    margin: 0 0 1rem;
    border-radius: 10px;
}
.tag{
    font-weight: 600;
}

footer{
     background: #111;
    color: white;
    padding: 4rem 0 2rem;
}
.f-logo {
    font-size: 2rem;
}

footer h4 {
    font-size: 1.5rem;
    margin: 0 0 1rem;
}

.f-bar {
    text-align: center;
    padding: 1rem 0 0;
    margin: 1rem 0 0 ;
    border-top: 1px solid #fff;
}
